html,
body {
  box-sizing: border-box;
  color: #73879c;
  background-color: #2a3f54;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}

#root {
  height: 100%;
}
